/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Arial';
  src: url("../fonts/BPGArial.woff2") format("woff2"), url("../fonts/BPGArial.woff") format("woff"), url("../fonts/BPGArial.ttf") format("truetype"), url("../fonts/BPGArial.svg#BPGArial") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glaho';
  src: url("../fonts/BPGGlaho.woff2") format("woff2"), url("../fonts/BPGGlaho.woff") format("woff"), url("../fonts/BPGGlaho.ttf") format("truetype"), url("../fonts/BPGGlaho.svg#BPGGlaho") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sylfaen';
  src: url("../fonts/Sylfaen.woff2") format("woff2"), url("../fonts/Sylfaen.woff") format("woff"), url("../fonts/Sylfaen.ttf") format("truetype"), url("../fonts/Sylfaen.svg#Sylfaen") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ingiri';
  src: url("../fonts/BPGIngiriArial.woff2") format("woff2"), url("../fonts/BPGIngiriArial.woff") format("woff"), url("../fonts/BPGIngiriArial.ttf") format("truetype"), url("../fonts/BPGIngiriArial.svg#BPGIngiriArial") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hdr-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #081526;
}

.hdr-wraper .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hdr-wraper .nav-ul .nav-li {
  margin: 10px;
}

.hdr-wraper .nav-ul .nav-li .nav-a {
  font-family: 'Ingiri';
  color: #F6E1C6;
  font-size: 18px;
  text-decoration: none;
}

.hdr-wraper .nav-ul .nav-li .nav-a:hover {
  color: #D9A648;
}

.hdr-wraper .logo {
  font-size: 24px;
  color: #F6E1C6;
  padding: 10px;
}

.burger {
  position: absolute;
  top: 0px;
  right: 30px;
  padding: 10px;
  font-size: 30px;
  display: none;
  color: #F6E1C6;
}

.banner {
  width: 100%;
  margin-bottom: 30px;
}

.banner .banner-img {
  width: 100%;
}

.articles-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articles-section2 {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-section2 .article2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  width: 100%;
}

.articles-section2 .article2 .first-p,
.articles-section2 .article2 .sec-p {
  font-family: 'Ingiri';
  font-size: 14px;
  width: 100%;
  color: #1a1a1a;
}

.articles-section2 .article-banner::before {
  content: url(../pictures/autism.png);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.articles-section2 .article-banner2::before {
  content: url(../pictures/researchers.jpg);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.articles-section2 .article-banner3::before {
  content: url(../pictures/genders.png);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.articles-section2 .article-banner4::before {
  content: url(../pictures/invisible-women.png);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.articles-section2 .article-banner5::before {
  content: url(../pictures/video-pic.png);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.articles-section2,
.articles-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.articles-section2 .article,
.articles-section .article {
  max-width: 320px;
  height: 350px;
  width: 100%;
}

.articles-section2 .article .article-img,
.articles-section .article .article-img {
  width: 100%;
}

.articles-section2 .article2:hover .first-p,
.articles-section .article2:hover .first-p {
  color: #A62E2E;
}

.articles-section2 .article2:hover .sec-p,
.articles-section .article2:hover .sec-p {
  color: #A62E2E;
}

.articles-section2 .article2,
.articles-section2 .article,
.articles-section .article2,
.articles-section .article {
  margin-bottom: 20px;
}

.articles-section2 .article2 .article-heading,
.articles-section2 .article .article-heading,
.articles-section .article2 .article-heading,
.articles-section .article .article-heading {
  font-family: 'Sylfaen';
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #1a1a1a;
}

.articles-section2 .article2 .article-text,
.articles-section2 .article .article-text,
.articles-section .article2 .article-text,
.articles-section .article .article-text {
  font-family: 'Ingiri';
  font-size: 14px;
  width: 100%;
  text-align: center;
  color: #1a1a1a;
}

.articles-section2 .article2:hover,
.articles-section2 .article:hover,
.articles-section .article2:hover,
.articles-section .article:hover {
  -webkit-box-shadow: 5px 10px 15px #e6e6e6;
          box-shadow: 5px 10px 15px #e6e6e6;
}

.articles-section2 .article2:hover .article-text,
.articles-section2 .article:hover .article-text,
.articles-section .article2:hover .article-text,
.articles-section .article:hover .article-text {
  color: #A62E2E;
}

.articles-section2 .article2:hover .article-heading,
.articles-section2 .article:hover .article-heading,
.articles-section .article2:hover .article-heading,
.articles-section .article:hover .article-heading {
  color: #A62E2E;
}

.articles-section2 .article2:hover .article-img,
.articles-section2 .article:hover .article-img,
.articles-section .article2:hover .article-img,
.articles-section .article:hover .article-img {
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

.banner-article1 {
  width: 100%;
}

.banner-article1 .img-article-banner {
  width: 100%;
  height: auto;
}

.article-main {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.article-main .h1-article {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Glaho';
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-main .p-article {
  font-size: 16px;
  font-family: 'Ingiri';
  font-weight: normal;
  line-height: 150%;
}

.article-main .h2-article {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Glaho';
  margin-bottom: 10px;
}

.article-main .h1-article,
.article-main .h2-article,
.article-main .p-article {
  color: #1a1a1a;
}

.article-main .ul-article {
  list-style-type: circle;
}

.article-main .ul-article .li-article {
  font-size: 16px;
  font-family: 'Ingiri';
  color: #1a1a1a;
}

.ftr-wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #081526;
}

.ftr-wraper .ftr-logo {
  font-size: 24px;
  padding: 10px;
}

.ftr-wraper .ftr-logo .logo-a {
  color: #F6E1C6;
}

.ftr-wraper .ftr-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ftr-wraper .ftr-ul .ftr-li {
  padding: 10px;
}

.ftr-wraper .ftr-ul .ftr-li .ftr-a {
  color: #F6E1C6;
  font-family: 'Ingiri';
  font-size: 18px;
}

.ftr-wraper .ftr-ul .ftr-li .ftr-a:hover {
  color: #D9A648;
}

@media (max-width: 1200px) {
  .articles-section .article:nth-child(2) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
  .burger {
    display: block;
  }
  .hdr-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-li {
    text-align: center;
  }
  .navbar.active {
    display: block;
  }
}

@media (max-width: 670px) {
  .articles-section2 .article2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 320px;
    width: 100%;
  }
  .articles-section2 .article2 .first-p {
    text-align: center;
  }
  .articles-section2 .article2 .sec-p {
    display: none;
  }
}

@media (max-width: 580px) {
  .hdr-wraper .logo {
    font-size: 20px;
    padding: 15px;
  }
  .ftr-wraper .ftr-logo {
    font-size: 18px;
  }
  .ftr-wraper .ftr-ul .ftr-li .ftr-a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=global.css.map */