@media (max-width: 1200px) {
    .articles-section {
        .article:nth-child(2) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}
@media (max-width: 800px) {
    .navbar {
        display: none;
    }
    .burger {
        display: block;
    }
    .hdr-wraper {
        flex-direction: column;
    }
    .nav-ul {
        flex-direction: column;
    }
    .nav-li {
        text-align: center;
    }
    .navbar.active {
        display: block;
    }
}
@media (max-width: 670px) {
    .articles-section2 {
        .article2 {
        @include d-flex(flex, space-around);
        flex-wrap: wrap;
        max-width: 320px;
        width: 100%;
        .first-p {
            text-align: center;
        }
        .sec-p {
            display: none;
        }
    }
    }
}
@media (max-width: 580px) {
    .hdr-wraper {
        .logo {
            font-size: 20px;
            padding: 15px;
        }
    }
    .ftr-wraper {

        .ftr-logo {
            font-size: 18px;
        }
        .ftr-ul {
            .ftr-li {
                .ftr-a {
                    font-size: 14px;
                } 
            }
        }
    }

}