
// header
.hdr-wraper {
    @include d-flex(flex, space-around);
    background-color: #081526;
    .nav-ul {
        @include d-flex(flex, space-around);
        align-items: center;
        .nav-li {
            margin: 10px;
            .nav-a {
                font-family: 'Ingiri';
                color: $hdr-ftr-color;
                font-size: 18px;
                text-decoration: none;
                &:hover {
                    color: #D9A648;
                }
            }
        }
    }
    .logo {
        font-size: 24px;
        color: $hdr-ftr-color;
        padding: 10px;
    }
}

.burger {
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 10px;
    font-size: 30px;
    display: none;
    color: $hdr-ftr-color;
}

// Banner

.banner {
    width: 100%;
    margin-bottom: 30px;
    .banner-img {
        width: 100%;
    }
}

// content
.articles-section {
   @include d-flex(flex, space-around);
    flex-wrap: wrap;
}
.articles-section2 {
    padding-top: 30px;
    @include d-flex(flex, space-around);
    flex-direction: column;
    align-items: center;
    .article2 {
        display: flex;
        max-width: 900px;
        width: 100%;
        .first-p,
        .sec-p {
            font-family: 'Ingiri';
            font-size: 14px;
            width: 100%;
            color: $text-color;
        }
    }
    .article-banner::before {
        content: url(../pictures/autism.png);
        transform: scale(0.9);
    }
    .article-banner2::before {
        content: url(../pictures/researchers.jpg);
        transform: scale(0.9);
    }
    .article-banner3::before {
        content: url(../pictures/genders.png);
        transform: scale(0.9);
    }
    .article-banner4::before {
        content: url(../pictures/invisible-women.png);
        transform: scale(0.9);
    }
    .article-banner5::before {
        content: url(../pictures/video-pic.png);
        transform: scale(0.9);
    }
}
.articles-section2,
.articles-section {
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .article {
        max-width: 320px;
        height: 350px;
        width: 100%;
        .article-img {
            width: 100%;
        }
    }
    .article2 {
        &:hover .first-p {
            color: #A62E2E;
        }

        &:hover .sec-p {
            color: #A62E2E;
        }
    }
    .article2,
    .article {
        margin-bottom: 20px;
        .article-heading {
            font-family: 'Sylfaen';
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
            color: $text-color;
        }
        .article-text {
            font-family: 'Ingiri';
            font-size: 14px;
            width: 100%;
            text-align: center;
            color: $text-color;
        }
        &:hover {
            box-shadow: 5px 10px 15px #e6e6e6;
        }
        &:hover .article-text{
            color: #A62E2E;
        }
        &:hover .article-heading {
            color: #A62E2E;
        }
        &:hover .article-img {
            filter: grayscale(30%);
        }
    }
}
// article 1
.banner-article1 {
    width: 100%;
    .img-article-banner {
        width: 100%;;
    }
}
.article-main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .h1-article {
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        font-family: 'Glaho';
    }
    .p-article {
        font-size: 16px;
        font-family: 'Ingiri';
        font-weight: normal;
    }
    .h2-article {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Glaho';
    }
    .h1-article,
    .h2-article,
    .p-article {
        color: $text-color;
    }
    .ul-article {
        list-style-type: circle;
        .li-article {
            font-size: 16px;
            font-family: 'Ingiri';
            color: $text-color;
    }
    } 
}
// Footer
.ftr-wraper {
    width: 100%;
    @include d-flex(flex, space-around);
    background-color: #081526;
    .ftr-logo {
        font-size: 24px;
        padding: 10px;
        .logo-a {
            color: $hdr-ftr-color;
        }
    }
    .ftr-ul {
        @include d-flex(flex, space-around);
        .ftr-li {
            padding: 10px;
            .ftr-a {
                color: $hdr-ftr-color;
                font-family: 'Ingiri';
                font-size: 18px;
                &:hover {
                    color: #D9A648;
                }
            }
        }
    }
}

