
// header
.hdr-wraper {
    @include d-flex(flex, space-around);
    background-color: #081526;
    .logo-wraper {
        width: 200px; 
        padding: 10px;
        .logo {
            width: 100%;
        }
    }
    .nav-ul {
        @include d-flex(flex, space-around);
        align-items: center;
        padding: 10px;
        .nav-li {
            margin: 10px;
            .nav-a {
                font-family: 'Ingiri';
                color: $hdr-ftr-color;
                font-size: 18px;
                text-decoration: none;
                &:hover {
                    color: #D9A648;
                }
            }
        }
    }
    
}

.burger {
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 10px;
    font-size: 30px;
    display: none;
    color: $hdr-ftr-color;
}

// Banner

.banner {
    width: 100%;
    margin-bottom: 45px;
    .banner-img {
        width: 100%;
    }
}

// content
.articles-section {
   @include d-flex(flex, space-around);
    flex-wrap: wrap;
}
.articles-section2 {
    padding-top: 30px;
    @include d-flex(flex, space-around);
    flex-direction: column;
    align-items: center;
    .article2 {
        display: flex;
        max-width: 900px;
        width: 100%;
        .first-p,
        .sec-p {
            font-family: 'Ingiri';
            font-size: 14px;
            width: 100%;
            color: $text-color;
            line-height: 130%;
        }
    }
    .article-banner::before {
        content: url(../pictures/autism.png);
        transform: scale(0.9);
    }
    .article-banner2::before {
        content: url(../pictures/researchers.jpg);
        transform: scale(0.9);
    }
    .article-banner3::before {
        content: url(../pictures/genders.png);
        transform: scale(0.9);
    }
    .article-banner4::before {
        content: url(../pictures/invisible-women.png);
        transform: scale(0.9);
    }
    .article-banner5::before {
        content: url(../pictures/video-pic.png);
        transform: scale(0.9);
    }
}
.articles-section2,
.articles-section {
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .article {
        background-color: #fff5f5;
        max-width: 320px;
        height: 360px;
        width: 100%;
        .article-img {
            width: 100%;
        }
    }
    .article2 {
        &:hover .first-p {
            color: #A62E2E;
        }

        &:hover .sec-p {
            color: #A62E2E;
        }
    }
    .article2,
    .article {
        margin-bottom: 20px;
        .article-heading {
            font-family: 'Sylfaen';
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
            color: $text-color;
            line-height: 130%;
        }
        .article-text {
            font-family: 'Ingiri';
            font-size: 14px;
            width: 100%;
            text-align: center;
            color: $text-color;
            line-height: 130%;
        }
        &:hover {
            box-shadow: 5px 10px 15px #e6e6e6;
        }
        &:hover .article-text{
            color: #A62E2E;
        }
        &:hover .article-heading {
            color: #A62E2E;
        }
        &:hover .article-img {
            filter: grayscale(30%);
        }
    }
}
//  5th article
.article-main {
        .video-div {
            max-width: 560px;
            height: 350px;
            width: 100%;
            margin: 0 auto;
        }
        .video {
            width: 100%;
            height: 100%;
        }
    }
// article 1
.banner-article1 {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    .img-article-banner {
        width: 100%;
        height: auto;
    }
}
.article-main {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    .h1-article {
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        font-family: 'Glaho';
        margin-top: 30px;
        margin-bottom: 20px;
        line-height: 130%;
    }
    .p-article {
        font-size: 16px;
        font-family: 'Ingiri';
        font-weight: normal;
        line-height: 150%;
        margin-bottom: 15px;
        .bold {
            font-weight: bold;
        }
    }
    .h2-article {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Glaho';
        margin-bottom: 15px;
        margin-top: 25px;
        line-height: 130%;
    }
    .h1-article,
    .h2-article,
    .p-article {
        color: $text-color;
    }
    .ul-article {
        list-style-type: circle;
        margin-bottom: 25px;
        .li-article {
            font-size: 16px;
            font-family: 'Ingiri';
            color: $text-color;
            line-height: 150%;
            margin-bottom: 10px;
            .li-bold {
                font-weight: bold;
            }
        }
    } 
}

// about 
.article-main {
    .animation {
        @include d-flex(flex, space-around);
        .animation-width {
            width: 40%;
        }
     }
}
// Footer
.ftr-wraper {
    width: 100%;
    @include d-flex(flex, space-around);
    margin-top: 35px;
    background-color: #081526;
    .ftr-logo {
        width: 200px; 
        padding: 10px;
        .logo-ftr {
            width: 100%;
        }
        .logo-a {
            color: $hdr-ftr-color;
        }
    }
    .ftr-ul {
        @include d-flex(flex, space-around);
        padding-top: 10px;
        .ftr-li {
            padding: 10px;
            .ftr-a {
                color: $hdr-ftr-color;
                font-family: 'Ingiri';
                font-size: 18px;
                &:hover {
                    color: #D9A648;
                }
            }
        }
    }
}

