
// header
.hdr-wraper {
    @include d-flex(flex, space-around);
    background-color: #081526;
    .logo-wraper {
        width: 160px; 
        padding: 10px;
        margin-top: 3px;
        .logo {
            width: 100%;
        }
    }
    .nav-ul {
        @include d-flex(flex, space-around);
        align-items: center;
        padding: 10px;
        .nav-li {
            margin: 10px;
            .nav-a {
                font-family: 'Ingiri';
                color: $hdr-ftr-color;
                font-size: 18px;
                text-decoration: none;
                margin-left: 15px;
                &:hover {
                    color: #D9A648;
                }
            }
        }
    }
    
}

.burger {
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 10px;
    font-size: 30px;
    display: none;
    color: $hdr-ftr-color;
}

// Banner

.banner {
    width: 100%;
    position: relative;
    .banner-img {
        width: 100%;
    }
    .site-heading {
        position: absolute;
        top: 88%;
        left: 50%;
        font-family: 'Glaho';
            font-size: 20px;
            color: white;
            text-align: center;
    }
    .banner-logo {
        position: absolute;
        top: 30%;
        left: 40%;
        width: 20%;
        .banner-svg {
            width: 100%;
        }
    }
}

// cards

    .container {
        @include d-flex(flex, space-around);
        align-items: center;
        background: #ffffff;
        height: 400px;
        width: 100%;
        .card {
            position: relative;
            max-width: 160px;
            width: 100%;
            height: 180px;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            background: #081526;
            border-radius: 30px;
            font-size: 20px;
            transition: 0.6s;
            transform-style: preserve-3d;
        }
        .front,
        .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'Ingiri';
        text-align: center;
        padding: 20px;
        backface-visibility: hidden;
        transition: 0.6s;
        transform-style: preserve-3d;
    }
    
    .front {
        color: #faeddb;
        background: #006f85;
        border-radius: 30px;
        transform: rotateY(0deg);
        z-index: 2;
        .fact-img {
            width: 80px;
            height: 100px; 
            margin-left: 25px;
            margin-top: 15px;
            .fact-img-width {
                width: 70%;
            }
        }
    }
    .back {
        color: $text-color;
        font-weight: bold;
        font-size: 13px;
        background: #D77B7E;
        border-radius: 30px;
        transform: rotateY(-180deg);
        .card-p {
            width: 140px;
            height: 170px;
            text-align: center;
            margin-left: -8%;
            line-height: 120%;
        }
    }
    .card:hover {
        transform: rotateY(180deg);
    }
    }
    
    

//  line
.line {
    width: 100%;
    border: 5px dotted #081526;
    border-bottom: none;
    margin-bottom: 40px;
}
.arrow {
    width: 40px;
    height: 40px;
    margin: 0 auto 40px auto;
    transition: all 0.5s linear;
    .arrow-width {
       width: 100%;
    }
    :hover {
        transform: translateY(5px); 
    }
}

// content
.articles-section {
   @include d-flex(flex, space-around);
    flex-wrap: wrap;
    margin-top: 200px;
}
.articles-section2 {
    padding-top: 30px;
    @include d-flex(flex, space-around);
    flex-direction: column;
    align-items: center;
    .article2 {
        display: flex;
        max-width: 900px;
        width: 100%;
        .first-p,
        .sec-p {
            font-family: 'Ingiri';
            font-size: 14px;
            width: 100%;
            color: $text-color;
            line-height: 130%;
        }
    }
    .article-banner::before {
        content: url(../pictures/autism.png);
        transform: scale(0.9);
    }
    .article-banner2::before {
        content: url(../pictures/researchers.jpg);
        transform: scale(0.9);
    }
    .article-banner3::before {
        content: url(../pictures/genders.png);
        transform: scale(0.9);
    }
    .article-banner4::before {
        content: url(../pictures/invisible-women.png);
        transform: scale(0.9);
    }
    .article-banner5::before {
        content: url(../pictures/video-pic.png);
        transform: scale(0.9);
    }
}
.articles-section2,
.articles-section {
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .article {
        background-color: #fff5f5;
        max-width: 320px;
        height: 340px;
        width: 100%;
        .article-img-width {
            width: 80%;
            margin: 10px auto 10px auto;
            .article-img {
                width: 100%;
            }
        }
    }
    .article2 {
        &:hover .first-p {
            color: #A62E2E;
        }

        &:hover .sec-p {
            color: #A62E2E;
        }
    }
    .article2,
    .article {
        margin-bottom: 20px;
        .article-heading {
            font-family: 'Sylfaen';
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
            color: $text-color;
            line-height: 130%;
        }
        .article-text {
            font-family: 'Ingiri';
            font-size: 14px;
            width: 100%;
            text-align: center;
            color: $text-color;
            line-height: 130%;
        }
        &:hover {
            box-shadow: 5px 10px 15px #e6e6e6;
        }
        &:hover .article-text{
            color: #A62E2E;
        }
        &:hover .article-heading {
            color: #A62E2E;
        }
        &:hover .article-img {
            filter: grayscale(30%);
        }
    }
}
//  5th article
.article-main {
        .video-div {
            max-width: 560px;
            height: 350px;
            width: 100%;
            margin: 0 auto;
        }
        .video {
            width: 100%;
            height: 100%;
        }
    }
// article 1
.banner-article1 {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    .img-article-banner {
        width: 100%;
        height: auto;
    }
}
.article-main {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    .h1-article {
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        font-family: 'Glaho';
        margin-top: 30px;
        margin-bottom: 20px;
        line-height: 130%;
    }
    .p-article {
        font-size: 16px;
        font-family: 'Ingiri';
        font-weight: normal;
        line-height: 150%;
        margin-bottom: 15px;
        .bold {
            font-weight: bold;
        }
    }
    .h2-article {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Glaho';
        margin-bottom: 15px;
        margin-top: 25px;
        line-height: 130%;
    }
    .h1-article,
    .h2-article,
    .p-article {
        color: $text-color;
    }
    .ul-article {
        list-style-type: circle;
        margin-bottom: 25px;
        .li-article {
            font-size: 16px;
            font-family: 'Ingiri';
            color: $text-color;
            line-height: 150%;
            margin-bottom: 10px;
            .li-bold {
                font-weight: bold;
            }
        }
    } 
}

// about 
.article-main {
    .animation {
        @include d-flex(flex, space-around);
        .animation-width {
            width: 40%;
        }
     }
}

// contact page 
.contact-wraper {
    @include d-flex(flex, space-around);
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    .contact-animation {
        margin-top: 40px;
        .icons {
            width: 130px;
            margin: 0 auto;
            margin-top: 160px;
            @include d-flex(flex, default);
            .fb,
            .mail,
            .youtube {
                width: 30px;
                height: 30px;
                margin-left: 15px;
                .icon-width {
                    width: 100%;
                }
            }
        }
    }
    .forms {
        margin-top: 40px;
        @include d-flex(flex, space-between);
        flex-direction: column;
        #id-name,
        #id-last-name,
        #id-mail {
            margin-top: 20px;
            max-width: 250px;
            width: 100%;
            height: 30px;
            border: none;
            border-radius: 20px;
            background-color: $form-color-bg;
            color: grey;
            padding-left: 15px;
            outline: none;
        }

        #id-question {
            outline: none;
            resize: none;
            max-width: 250px;
            width: 100%;
            margin-top: 20px;
            border: none;
            border-radius: 12px;
            background-color: $form-color-bg;
            color: grey;
            padding-left: 15px;
        }
        .btn {
            margin-top: 40px;
            width: 100px;
            height: 30px;
            border: none;
            border-radius: 35px;
            background-image: linear-gradient(
                to right, #94bbe9, #eeaeca
            );
            font-weight: bold;
            color: rgb(61, 61, 61);
        }
    }
}

// Footer
.ftr-wraper {
    width: 100%;
    @include d-flex(flex, space-around);
    margin-top: 35px;
    background-color: #081526;
    .ftr-logo {
        width: 160px; 
        padding: 10px;
        margin-top: 3px;
        .logo-ftr {
            width: 100%;
        }
        .logo-a {
            color: $hdr-ftr-color;
        }
    }
    .ftr-ul {
        @include d-flex(flex, space-around);
        padding-top: 10px;
        .ftr-li {
            padding: 10px;
            .ftr-a {
                color: $hdr-ftr-color;
                font-family: 'Ingiri';
                font-size: 18px;
                &:hover {
                    color: #D9A648;
                }
            }
        }
    }
}

